@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro');

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

#firsthead {
    color: rgb(230,116,137);
}
#secondhead {
    color: rgb(128,128,128);
    text-align: center;
}

input[type=checkbox] {
    display: none;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}