body {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-left: 4px;
}
.card {
    position: relative;
    width: 270px;
    height: auto;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.card_text > h1 {
    text-align: left;
}
.card_text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-style: Verdana;
}