body {
    display: flex;
    flex-direction: column;
}
h1, h2, h3 {
    text-align: center;
}
code {
    background-color: rgb(210, 210, 255);
}

.card_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
    margin-left: 4px;
    align-self: center;
}
.card {
    position: relative;
    width: 270px;
    height: auto;
    min-height: 170px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}
.card_text > h1 {
    text-align: left;
}
.card_text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-style: Verdana;
}